*.iml
.gradle
/.kotlin
/local.properties
/.idea/*
!/.idea/codeStyles
/.run
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
iosApp/Podfile.lock
iosApp/Pods/*
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/xcshareddata
!iosApp/iosApp.xcodeproj/project.pbxproj
shared/shared.podspec
metrics/
androidApp/keystore.p12
androidApp/keystore.p12.old
